<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Science Secure</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/uva.min.css" />
    <link href="~/lib/fontawesome/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="bg-light">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/ks-imgui.js" asp-append-version="true"></script>
    <script src="~/js/extensions/array.js" asp-append-version="true"></script>
    <script src="~/js/http.js" asp-append-version="true"></script>
    <script src="~/js/modal.js" asp-append-version="true"></script>
    <script src="~/js/pages/device.js" asp-append-version="true"></script>
    <script src="~/js/main.js" asp-append-version="true"></script>
    <script src="~/js/pages/check.js" asp-append-version="true"></script>
    <script src="~/js/pages/users.js" asp-append-version="true"></script>
    <script src="~/js/pages/faculty.js" asp-append-version="true"></script>
    <script src="~/js/pages/institute.js" asp-append-version="true"></script>
    <script src="~/js/pages/requests.js" asp-append-version="true"></script>
    @{ IgnoreBody(); }
</body>
</html>
